:root{
    --Orange:RGB(253, 126, 21);
    --Brown:RGB(101, 50, 7);
    --lightGray: RGB(232, 236, 239);
    --darkGray: RGB(108, 117, 125);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    padding: 16px;
    text-align: center;
    background-color: var(--Orange);
    color: white;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5% 10%;
}

footer{
    background-color: var(--Orange);
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

footer p{
    padding: 15px;
}


/* Puzzle */
.play-time{
    font-size: 3rem;
    color: var(--Orange)
}

ul{
    list-style: none;
    border: 5px solid var(--Orange);
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 하나의 요소를 4번 반복하겠다!! */
}

li{
    width: 100px;
    height: 100px;
    color: white;
    background: url(./questionMark.png);
}

.start-button{
    background: var(--Orange);
    color: white;
    border: none;
    padding: 1rem 2rem;
}

.game-text{
    position: absolute;
    font-size: 45px;
    color: var(--Orange);
    text-shadow: 2px 2px var(--darkGray);
    font-weight: bold;
    display: none;
}

.list0{
    background-position-x: 0px;
    background-position-y: 0px;
}

.list1{
    background-position-x: -100px;
    background-position-y: 0px;
}

.list2{
    background-position-x: -200px;
    background-position-y: 0px;
}

.list3{
    background-position-x: -300px;
    background-position-y: 0px;
}

.list4{
    background-position-x: 0px;
    background-position-y: -100px;
}

.list5{
    background-position-x: -100px;
    background-position-y: -100px;
}

.list6{
    background-position-x: -200px;
    background-position-y: -100px;
}

.list7{
    background-position-x: -300px;
    background-position-y: -100px;
}

.list8{
    background-position-x: 0px;
    background-position-y: -200px;
}

.list9{
    background-position-x: -100px;
    background-position-y: -200px;
}

.list10{
    background-position-x: -200px;
    background-position-y: -200px;
}

.list11{
    background-position-x: -300px;
    background-position-y: -200px;
}

.list12{
    background-position-x: 0px;
    background-position-y: -300px;
}

.list13{
    background-position-x: -100px;
    background-position-y: -300px;
}

.list14{
    background-position-x: -200px;
    background-position-y: -300px;
}

.list15{
    background-position-x: -300px;
    background-position-y: -300px;
}