:root{
    --Orange:RGB(253, 126, 21);
    --Brown:RGB(101, 50, 7);
    --lightGray: RGB(232, 236, 239);
    --darkGray: RGB(108, 117, 125);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    padding: 16px;
    text-align: center;
    background-color: var(--Orange);
    color: white;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5% 10%;
}

footer{
    background-color: var(--Orange);
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

footer p{
    padding: 15px;
}

/* Recipe Finder */
h3{
    text-align: center;
    color: var(--Orange);
}
 
.search-box {
    width: 100%;
    height: 30px;
    text-align: center;
}
 
.keyword{
    width: 60%;
    height: 100%;
    padding-left: 8px;
    outline: 0;
    border: 2px solid var(--Orange);
}
 
.search-btn{
    height: 100%;
    padding: 0 10px;
    background-color: var(--Orange);
    color: white;
    border: none;
    border-radius: 15%;
}
 
.result-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
 
.result{
    border: 3px solid var(--Orange);
    text-align: center;
    background: white;
}

.meal-img img{
    width: 200px;
    height: 200px;
    margin: 10px;
}
 
.meal-name{
    padding: 10px;
    color: white;
    background-color: var(--Orange);
}

.meal-modal-btn{
   background: var(--Orange);
   color: white;
   padding: 7px 12px;
   border: none;
   width: 50%;
   margin-bottom: 1rem;
}

#modal{
    width: 810px;
    height: 405px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--Brown);
    background-color: var(--Brown);
    border-radius: 10px;
}

.hidden{
    display: none;
}

.show{
    display: block;
}

.modal-content{
    padding-left: 414px;
    color: white;
    max-height: 370px;
    overflow-y: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.modal-content::-webkit-scrollbar {
    display: none;
}


.modal-img img{
    width: 400px;
    height: 400px;
    position: fixed;
    border: 3px solid var(--Brown);
}

.modal-header h3{
    margin-left: 406px;
    color: white;
    text-align: center;
    padding: 4px 0;
    width: 50%;
}

#modal-closeBtn{
    color: white;
    float: right;
    font-size: 21px;
}

.result-text h3{
    color: var(--Orange);
    text-align: center;
    display: block;
}