:root{
    --Orange:rgba(255,127,0);
    --Brown:rgba(150, 75, 0);
    --lightGray:rgba(218,218,218);
    --darkGray:rgba(128, 128, 128, 0.877);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: white;
    min-height: 97vh;
    overflow: auto;
}

#header{
    padding: 10px;
    font-size: large;
    text-align: center;
    background-color: var(--Orange);
    color: white;
}

#header > p{
    margin-bottom: 0;
    text-align: center;
}

#header > h1{
    margin-top: 8px;
}

#content{
    padding-top : 2rem;
    padding-bottom: 7rem;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
    min-height: 100%;
}


#footer{
    position:absolute;
    padding: 0;
    background-color: var(--Orange);
    bottom: 0;
    width: 100%;
    color: white;
    text-align: right;
}

#footer p{
    padding: 15px;
}

/* Typing */

#content{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.word-display{
    font-size: 60px;
    color: var(--Brown);
}

.word-input-box{
    margin-top: 2rem;
}

.word-input{
    padding: 0.5rem;
    width: 300px;
}

.game-info{
    margin-top: 2rem;
    font-size: 1.2rem;
    display: flex;
    width: 300px;
}

.game-info div{
    flex:1;
    text-align: center;
}

.time, .score{
    font-size: 30px;
}

#content button{
    width: 200px;
    height: 35px;
    color: white;
    border: none;
    margin-top: 2rem;
    margin-bottom: 8rem;
}

.button{
    background: var(--Brown);
    cursor: pointer;
}

.loading{
    background: var(--darkGray);
    cursor: not-allowed;
}
